.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.1rem 0 9.8rem 0;
  @media only screen and (max-width: 1060px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 400px) {
    padding: 4rem 0;
  }

  &__photo {
    margin-right: 12rem;
    height: auto;

    & > img {
      @media only screen and (max-width: 400px) {
        max-height: 35.5rem;
      }
    }
    @media only screen and (max-width: 1060px) {
      margin-right: 0;
      margin-top: 7.9rem;
      order: 2;
    }

    @media only screen and (max-width: 400px) {
      margin-top: 3.9rem;
    }
  }
  &__info {
    max-width: 43rem;
  }

  &__title {
    max-width: 31rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #545454;
    margin-bottom: 2.5rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;

    @media only screen and (max-width: 707px) {
      margin: 0 auto 2.5rem auto;
      text-align: center;
    }

    @media only screen and (max-width: 400px) {
      font-size: 2.47rem;
      line-height: 3.2rem;
    }
  }

  &__description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4c4c4c;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: 400px) {
      padding: 0 1.5rem;
      letter-spacing: 0.1px;
    }
  }
}
